/* палитра 
accent-color  - #2196F3
primary-color-text - #757575
heading-color - #212121
background-color - #ffffff
secondary-color - #F5F4FA
footer-color - #2F303A */

:root {
  --accent-color: #2196f3;
  --primary-color-text: #757575;
  --heading-color: #212121;
  --background-color: #ffffff;
  --secondary-color: #f5f4fa;
  --footer-color: #2f303a;
}
body {
  font-family: 'Roboto', 'Gilroy', 'Open Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color-text);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--heading-color);
}

nav .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}
.logo span {
  color: var(--accent-color);
}
.footer .logo {
  color: var(--background-color);
}

.menu-nav {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 14;
  line-height: 1.14;
}
.menu-nav :hover,
.menu-nav :focus {
  color: var(--accent-color);
}
.menu-nav .address {
  color: var(--primary-color-text);
}
.menu-nav .link.current {
  color: var(--accent-color);
}
.hero {
  background-color: var(--footer-color);
  color: var(--background-color);
}
.hero h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefit-heading {
  color: var(--heading-color);
}
.button {
  cursor: pointer;
}
.work-heading {
  color: var(--heading-color);
}
.team {
  background-color: var(--secondary-color);
}
.team h2 {
  color: var(--heading-color);
}
.team-heading {
  color: var(--heading-color);
}
.footer {
  background-color: var(--footer-color);
}
.address :hover,
.address :focus {
  color: var(--accent-color);
}
.footer .address {
  color: var(--background-color);
}
.address a {
  text-decoration: none;
  color: rgba (225, 225, 225, 60%);
}
.jobs-heading {
  color: var(--heading-color);
}
